body{
    margin: 0; 
    overflow: hidden; 
    background-image: url(https://mocah.org/uploads/posts/913512-pixel-art-pixels-tram-rain-puddle-cyan.png);
    background-size: cover;
}

canvas{
    display: block;
}

.player{
    position: absolute; 
    top: -9999px; 
    left: -9999px;
}
.statebutton{
    position: absolute;
    top: 2%; 
    right: 1%;
    height: 3rem;
    width: 3rem;
}
